PORT=1938

DATABASE_HOST=localhost
DATABASE_NAME=AtencionVictimas
DATABASE_USER=postgres
DATABASE_PASSWORD=abnOMYcliCErCUlCmENzWoRwAiSt
DATABASE_PORT=5432

JWT_KEY=XRQ3pEfhKKNLGBEQm4elVeW7lbPpk02m
JWT_EXPIRES=365d

SICEMP_USER=desarrollo
SICEMP_PASSWORD=123456
